#chamado_consulta td {
    border-bottom: #27272729 solid 1px;
    height: 50px;
    border-collapse: collapse;
}

#chamado_consulta .c1{
    width: 30%;
}

#chamado_consulta .c2{
    width: 60%;
}

#chamado_consulta .c3{
    display: flex;
    justify-content: end;
    align-items: center;
}

#chamado_consulta .c3 img{
    width: 34px;
}